/* Import font */
@import url('https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Varela+Round&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li,
a,
button {
    list-style: none;
    text-decoration: none;
}

.hidden {
    display: none !important;
}

body {
    display: block;
    height: 100%;
    max-height: 100vh;
    background-color: var(--main-bg-color);
    color: var(--color-title);
    padding: 10px 15px;
}

:root {
    --main-bg-color: #B7B7B7;
    --sup-bg-color: #F5F5F7;
    --color-title: #5a4840;
    --color-text: #705C53;
}

/* =========Navigation bar Start========= */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 8vh;
    font-family: "Old Standard TT", serif;
    font-weight: bold;
    margin-bottom: 30px;
}

nav .nav_icon {
    display: flex;
    align-items: center;
    font-size: 36px;
}

nav .nav_icon img {
    width: 20%;
    cursor: pointer;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .nav_items .item {
    margin-left: 25px;
}

nav .nav_items .item a {
    font-size: 25px;
    color: var(--color-title); 
    transition: font-size 0.3s ease, color 0.3s ease; 
}

nav .nav_items .item a:hover {
    font-size: 40px; 
    color: var(--color-title); 
}
/* =========Navigation bar End========= */
/* ========= Home style Start ========= */
.home {
    padding: 0 100px;
}

.home .container {
    display: flex;
    padding: 15px 15px;
    width: 100%;
    height: 82vh;
    background-color:  var(--sup-bg-color);
    border-radius: 12px;
    box-shadow: 0 4px 8px #5a4840;
    justify-content: space-between;
    align-items: stretch;
}

.home .container .content {
    flex: 0 0 75%;
    height: 100%;
    padding-right: 20px; 
}

.home .container .content .project_img {
    display: flex;
    flex-wrap: wrap; 
}

.home .container .content .project_img img {
    flex: 0 0 50%;
    max-width: calc(50% - 20px);
    border-radius: 5%;
    margin: 15px 10px;
    box-shadow: 0 4px 8px rgba(90, 72, 64, 0.7); 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.home .container .content .project_img img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(90, 72, 64, 0.9), 0 12px 24px rgba(0, 0, 0, 0.15); 
}

.home .container .content .project_img img:first-child {
    margin-left: 0;
}

.home .container .content h1 {
    font-size: 30px;
    font-family: "Varela Round", sans-serif;
    color: var(--color-title);
}

.home .container .content p {
    font-size: 18px;
    text-align: justify;
    font-family: "Varela Round", sans-serif;
    color: var(--color-text);
    margin-top: 20px;
}


.home .container .content p:nth-child(2) {
    margin-top: 0px;
}

.home .container .vid_container {
    flex: 0 0 25%;
    width: 25%;
    height: 100%;
}

.home .container .vid_container .video {
    width: 100%;
    height: 90%;
    border-radius: 5%;
    object-fit: cover;
}

.home .container .vid_container .contact-me {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 10%;
}

.home .container .vid_container .contact-me .contact-items {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.home .container .vid_container .contact-me .contact-items .item {
    display: flex;
    width: 100%;
    align-items: center;
}

.home .container .vid_container .contact-me .contact-items .item i {
    font-size: 34px;
    margin: 0 15px;
    color: var(--color-title);
}
.home .container .vid_container .contact-me .contact-items .item a {
    transition: transform 0.3s ease;
}

.home .container .vid_container .contact-me .contact-items .item a:hover   {
    transform: scale(1.2);
}

.home .container .vid_container .contact-me .contact-items .item i:last-child {
    margin-right: 0;
}


/* ========= Home style End ========= */
/* ========= Journey style start ========= */
.Myjourney {
    display: flex;
    align-items: center;
    justify-content: center;
}
.Myjourney .journey_container { 
    width: 50%;
    max-width: 100%;
    padding: 30px 15px;
    border-radius: 10px;
    position: relative;
}


.Myjourney .journey_container .timeline .timeline-item:before {
    content: '';
    width: 4px;
    position: absolute;
    height: 100%;
    left: 6px;
    top: 0;
    background-color: var(--color-title);
}

.Myjourney .journey_container .timeline .timeline-item .circle-dot {
    position: absolute;
    left: 0;
    top: 0;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: var(--color-title);
}

.Myjourney .journey_container .timeline .timeline-item {
    position: relative;
    padding-left: 37px;
    padding-bottom: 100px;
}

.Myjourney .journey_container .timeline .timeline-item .items {
    display: flex;
    flex-wrap: wrap;
    min-height: auto;
    width: 100%;
    height: auto;
    padding: 10px 15px;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.19), 0px 6px 6px rgba(0, 0, 0, 0.23);
    background-color: var(--sup-bg-color);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.Myjourney .journey_container .timeline .timeline-item .items:hover {
    transform: scale(1.05); 
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.25), 0px 10px 10px rgba(0, 0, 0, 0.3); 
}

.Myjourney .journey_container .timeline .timeline-item  .items .Myjourney-info {
    flex: 0 0 100%; 
    width: 100%;
    max-width: 100%;
}


.Myjourney .journey_container .timeline .timeline-item .items .Myjourney-info .timeline-title {
    font-weight: bold;
    font-size: 20px;
    text-transform: capitalize;
    color: var(--color-title);
    font-family: "Old Standard TT", system-ui;
    margin-bottom: 5px;
}

.Myjourney .journey_container .timeline .timeline-item .items .Myjourney-info .timeline-text {
    font-size: 16px;
    text-transform: justify;
    color: var(--color-text);
    font-family: "K2D", system-ui;
}

/* ========= Journey style End ========= */
/* ========= Future style Start ========= */
.myfuture {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0 100px;
}

.myfuture .future_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1000px;
    height: auto;
    padding: 0px 15px;
}

.myfuture .future_container .card {
    flex: 0 0 calc(33.33% - 30px);
    height: 350px;
    margin: 0 15px;
    padding: 10px 15px;
    border-radius: 30px;
    background-color: var(--sup-bg-color);
    box-shadow:  1.95px 1.95px 2.6px rgba(0, 0, 0, 0.15);
    margin-bottom: 25px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.myfuture .future_container .card:hover {
    transform: scale(1.05);
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.3),  3px 3px 8px rgba(0, 0, 0, 0.2);
}

.myfuture .future_container .card .time {
    display: flex;
    align-items: center;
}

.myfuture .future_container .card .time i {
    font-size: 24px;
}

.myfuture .future_container .card .time .title {
    margin-left: 8px;
    font-size: 20px;
    font-family: "Old Standard TT", system-ui;
    font-weight: bold;
}

.myfuture .future_container .card  .line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--main-bg-color);
    margin: 10px 0;
}

.myfuture .future_container .card .info .title {
    color: var(--color-title);
    margin-bottom: 8px;
    font-family: "Old Standard TT", system-ui;
    font-weight: bold;
}
.myfuture .future_container .card .info .text {
    color: var(--color-text);
    font-family: "Varela Round", system-ui;
}
/* ========= Future style End ========= */
